<!DOCTYPE html>
<html>
<head>
    <title>Razorpay Payment</title>
</head>
<body>

<h2>Total Amount: ₹{{ total }}</h2>

<button id="rzp-button1">
    Pay ₹{{ total }}
</button>

<form id="payment-form" method="POST" action="{% url 'success' %}">
    {% csrf_token %}
    <input type="hidden" name="razorpay_payment_id" id="payment_id">
    <input type="hidden" name="razorpay_order_id" id="order_id">
</form>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>

var options = {
    "key": "{{ key }}",
    "amount": "{{ total|floatformat:0 }}00",
    "currency": "INR",
    "name": "GreatKart",
    "description": "Order Payment",
    "order_id": "{{ order_id }}",

    "handler": function (response) {

    document.getElementById("payment_id").value =
        response.razorpay_payment_id;

    document.getElementById("order_id").value =
        response.razorpay_order_id;

    document.getElementById("payment-form").submit();
}
};

var rzp1 = new Razorpay(options);

/* ADD THIS BLOCK HERE */
{% comment %} rzp1.on('payment.failed', function (response) {

    console.log(response.error);

    alert(
    "Code: " + response.error.code +
    "\nReason: " + response.error.reason +
    "\nDescription: " + response.error.description
);

}); {% endcomment %}

rzp1.on('payment.failed', function (response) {

    console.log("FULL RESPONSE:", response);
    console.log("ERROR:", response.error);

    alert(JSON.stringify(response, null, 2));

});
/* END OF BLOCK */

document.getElementById('rzp-button1').onclick = function(e) {

    rzp1.open();

    e.preventDefault();
};

</script>

</body>
</html>